{% extends 'base.html' %}

{% block title %} New User Registration {% endblock %}

{% block content %}

<!-- {% for msg in get_flashed_messages() %}
<div>{{ msg }}</div>
{% endfor %} -->

<form action="/register" method="POST" style="margin-top: 4em;">
    <h1>New User Registration</h1>
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-group">
        {{ field.label }}
        {{ field (class_="form-control") }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endfor %}
    <div class="form-buttons">
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </div>

</form>
{% endblock %}